#traffic-sign-detection-and-recognition {
	text-align: center !important;
}

.css-1v0mbdj.etr89bj1 {
	text-align: center !important;
	margin: 1rem auto 3rem;
}

.css-8u98yl.exg6vvm0 {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	padding: 1rem;
}

.row-widget.stButton {
	margin: 0 auto;
	text-align: center;
}

footer {
	text-align: center;
}
